@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #F7FEDD;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #124C38;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}